body{
    background-color: whitesmoke;
    font-family: "Alumni Sans Pinstripe", sans-serif;
}
.top{
    height: 40vh;
    background: radial-gradient(rgb(84, 55, 2), rgb(23, 14, 0));

    display: grid;
    grid-template-rows: 70% 30%;
    
    header{
        text-align: center;
        line-height: .1;
        color: rgba(201, 133, 5, 0.774);
        h1{
            font-size: 8em; 
            font-family: "Give You Glory", cursive; 
            text-shadow: 1px 1px 40px black;  
        }
        h2{
            font-size: 1.85em;
            font-family: "Hanalei Fill", system-ui;
            color: rgb(227, 78, 62);
            position: relative;
            bottom: 20px;
            letter-spacing: .3em;
            text-shadow: 1px 1px 10px black;
        }
    }

    form{
        align-content: center;
        text-align: center;
        font-size: 2em;
        display: grid;
        grid-template-rows: 2fr 1fr;

        label{
            color: rgba(201, 133, 5, 0.774);
        }

        select{
            background: radial-gradient(rgb(84, 55, 2), rgb(23, 14, 0));
            color: rgba(201, 133, 5, 0.774);
            border-radius: 20px;
            font-size: .75em;
            padding: 2px 0 2px 7px;
            margin: auto;
            font-family: "Hanalei Fill", system-ui;
            &:hover{
                cursor: grab
            }
        }
        input{
            background: radial-gradient(rgb(227, 78, 62), rgb(23, 14, 0));
            color: rgba(201, 133, 5, 0.774);
            border-radius: 20px;
            font-size: .75em;
            padding: 5px 20px;
            margin: 10px auto 20px auto;
            font-family: "Hanalei Fill", system-ui;
            text-align: center;
            &:hover{
                cursor: pointer;
                opacity: .7;
            }
        }
    }

}
.bottom{
    min-height: 150vh;
    background-color: black;
    color: whitesmoke;
    display: grid;
    grid-template-rows: 5% 90%;
    .result-saved{
        position: relative;
        top: 30px;
        left: 50px;
        width: 30%;
        height: 40px;

        display: flex;
        justify-content: space-between;

        #res{
            border-radius: 20px 0 0 20px;
        }
        #sav{
            border-radius: 0 20px 20px 0;
            color: grey;
            text-decoration: line-through;
        }
        #res, #sav{
            border: 4px solid rgb(84, 55, 2);
            width: 50%;
            padding: 5px;
            text-align: center;
            align-content: center;
        }
    }

    .results{
        position: relative;
        top: 50px;

        .movie-card{
            box-shadow: 1px 1px 10px rgb(84, 55, 2);
            height: 100%;
            width: 90%;
            margin: auto;
            display: grid;
            grid-template-rows: 60% 40%;
            text-align: center;
            align-items: center;

            .default-text{
                font-size: 1.75em;
                position: relative;
                bottom: 300px;
            }

            .movie-poster{
                height: 100%;
                #poster{
                    width: 80%;
                    height: 100%;
                }
            }

            .movie-text{
                display: grid;
                grid-template-rows: 20% 20% 60%;
                #overview{
                    width: 75%;
                    margin: auto;
                    font-size: 1.75em;
                }
                h3{
                    font-size: 3em;
                }
                #vote{
                    font-size: 2em;
                }
                #preview{
                    font-size: 2em;
                    color: whitesmoke;
                    text-decoration: none;
                    &:hover{
                        transform: scale(1.2);
                        transition-duration: 1400ms;
                    }
                }
            }
        }
    }
}