body {
  background-color: whitesmoke;
  font-family: "Alumni Sans Pinstripe", sans-serif;
}

.top {
  height: 40vh;
  background: radial-gradient(rgb(84, 55, 2), rgb(23, 14, 0));
  display: grid;
  grid-template-rows: 70% 30%;
}
.top header {
  text-align: center;
  line-height: 0.1;
  color: rgba(201, 133, 5, 0.774);
}
.top header h1 {
  font-size: 8em;
  font-family: "Give You Glory", cursive;
  text-shadow: 1px 1px 40px black;
}
.top header h2 {
  font-size: 1.85em;
  font-family: "Hanalei Fill", system-ui;
  color: rgb(227, 78, 62);
  position: relative;
  bottom: 20px;
  letter-spacing: 0.3em;
  text-shadow: 1px 1px 10px black;
}
.top form {
  align-content: center;
  text-align: center;
  font-size: 2em;
  display: grid;
  grid-template-rows: 2fr 1fr;
}
.top form label {
  color: rgba(201, 133, 5, 0.774);
}
.top form select {
  background: radial-gradient(rgb(84, 55, 2), rgb(23, 14, 0));
  color: rgba(201, 133, 5, 0.774);
  border-radius: 20px;
  font-size: 0.75em;
  padding: 2px 0 2px 7px;
  margin: auto;
  font-family: "Hanalei Fill", system-ui;
}
.top form select:hover {
  cursor: grab;
}
.top form input {
  background: radial-gradient(rgb(227, 78, 62), rgb(23, 14, 0));
  color: rgba(201, 133, 5, 0.774);
  border-radius: 20px;
  font-size: 0.75em;
  padding: 5px 20px;
  margin: 10px auto 20px auto;
  font-family: "Hanalei Fill", system-ui;
  text-align: center;
}
.top form input:hover {
  cursor: pointer;
  opacity: 0.7;
}

.bottom {
  min-height: 150vh;
  background-color: black;
  color: whitesmoke;
  display: grid;
  grid-template-rows: 5% 90%;
}
.bottom .result-saved {
  position: relative;
  top: 30px;
  left: 50px;
  width: 30%;
  height: 40px;
  display: flex;
  justify-content: space-between;
}
.bottom .result-saved #res {
  border-radius: 20px 0 0 20px;
}
.bottom .result-saved #sav {
  border-radius: 0 20px 20px 0;
  color: grey;
  text-decoration: line-through;
}
.bottom .result-saved #res, .bottom .result-saved #sav {
  border: 4px solid rgb(84, 55, 2);
  width: 50%;
  padding: 5px;
  text-align: center;
  align-content: center;
}
.bottom .results {
  position: relative;
  top: 50px;
}
.bottom .results .movie-card {
  box-shadow: 1px 1px 10px rgb(84, 55, 2);
  height: 100%;
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-rows: 60% 40%;
  text-align: center;
  align-items: center;
}
.bottom .results .movie-card .default-text {
  font-size: 1.75em;
  position: relative;
  bottom: 300px;
}
.bottom .results .movie-card .movie-poster {
  height: 100%;
}
.bottom .results .movie-card .movie-poster #poster {
  width: 80%;
  height: 100%;
}
.bottom .results .movie-card .movie-text {
  display: grid;
  grid-template-rows: 20% 20% 60%;
}
.bottom .results .movie-card .movie-text #overview {
  width: 75%;
  margin: auto;
  font-size: 1.75em;
}
.bottom .results .movie-card .movie-text h3 {
  font-size: 3em;
}
.bottom .results .movie-card .movie-text #vote {
  font-size: 2em;
}
.bottom .results .movie-card .movie-text #preview {
  font-size: 2em;
  color: whitesmoke;
  text-decoration: none;
}
.bottom .results .movie-card .movie-text #preview:hover {
  transform: scale(1.2);
  transition-duration: 1400ms;
}
